extends layout 

block content 
    div(class='container vertical')
        h1(id="title" class='item')=title 
        h2(class='item')=visited
     
            
    div(class="container switchIt")
        div(class='item chart vertical') 
            h3(class='item chart title') What is your flavor of hot chocolate?
            canvas(id="myChart") 
        div(class='item chart vertical') 
            h3(class='item chart title') If Santa had another reindeer, what would it's name be?
            canvas(id="myChart2")
        div(class='item chart vertical') 
            h3(class='item chart title') What is your favorite activity for the winter?
            canvas(id="myChart3")
    
    div(id='hotChocolate' class='container')
    
    script(src="secret.js")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src=scripted)

        
