doctype 

html 
    head
        title=title 
        link(rel="stylesheet", href="../style.css")
    body 
        nav 
            ul 
                li 
                    a(href="/login")
                li
                    a(href="/add") Signup 
        block content