doctype 

html 
    head
        title=title 
        link(rel="stylesheet", href="../style.css")
    body 
        nav(class='container wide nospace')
            ul(class='item container horiztonal wide space nospace') 
                li(class='item container wide nospace')
                    a(class='item' href="/") Home 
                li(class='item container wide nospace') 
                    a(class='item' href="/login") Login 
                li(class='item container wide nospace')
                    a(class='item' href="/add") Sign-Up 
                
        block content