doctype 

html 
    head
        title=title 
        link(rel="stylesheet", href="../style.css")
    body 
        nav(class='container wide nospace')
            ul(class='item container horiztonal wide space nospace') 
                li(class='item container wide nospace')
                    a(class='item' href="/") Home 
            each link in navBar
                li(class='item container wide nospace')
                    a(href=link[1] class='item') #{link[0]}
                
        block content