extends layout 

block content 
    h1=title 
    form(method = 'POST' action = '/login')
        p Username:
            input(type='text' name='username')
        p Password: 
            input(type='text' name='password')
        p   
            input(type='submit' value='send it')

    p 
        a(href='/') Dont have an account?
