extends layout 

block content 
    h1=title 
    form(method = 'POST' action = '/login')
        p Email:
            input(type='text' name='email')
        p Password: 
            input(type='text' name='password')
        p   
            input(type='submit' value='send it')

    p 
        a(href='/add') Dont have an account?
