@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
html {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: "Recursive";
    overflow-x: hidden;
}
body {
    padding: 0px;
    margin: 0px;
}
nav {
    border-bottom: 1px solid black;
    background-color: white;
}
input {
    height: .75rem;
    border: none;
    border-bottom: 2px solid black;
}
select {
    border: none;
    border-bottom: 2px solid black;
}
a {
    text-decoration: none;
}
.navHeader {
    box-sizing: border-box;
    padding: 0px 8px;
}
.correctEntry {
    border: none;
    border-bottom: 2px solid green;
}
.incorrectEntry {
    border: none;
    border-bottom: 2px solid red;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.horizontal {
    flex-direction: row;
}
.vertical {
    flex-direction: column;
}
.item {
    display: flex;
    color: #555555;
    margin: .5%;
    padding: .5%;
    /* border: 1px solid black; */
}
.wide {
    width: 100%;
}
.button {
    background-color: #777777;
    height: 2rem;
    border: none;
    border: 1px solid black;
    width: fit-content;
    color: white;
}
.button:hover {
    background-color: #666666;
}
.redText {
    color: red;
    font-weight: bold;
}
.space {
    justify-content: space-evenly
}
.nospace {
    padding: 0px;
    margin: 0px;
}
.push {
    margin: 0px 25px;
}