/* The basic formatting */
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
html {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: "Recursive";
    /* overflow-x: hidden; */
    background-image: url("/Media/background_One.jpg");
    background-repeat:repeat;
    background-size:cover;
}
body {
    padding: 0px;
    margin: 0px;
}
nav {
    border-bottom: 1px solid black;
    background-color: #0B3669;
}
/* This is styling for the text fields */
input {
    height: .75rem;
    border: none;
    border-bottom: 2px solid white; 
    background-color: rgba(0,0,0,0);
    color: #555555;
}
/* This controls autofill formatting,
   it is stubborn */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none;
}
/* Continued text field styling */
input::placeholder {
    color: #DDDDDD;
}
input[type='submit'] {
    box-shadow: none;
}
select {
    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(0,0,0,0);
}
option {
    color: black;
    background-color: rgba(0,0,0,0);
}
/* This gets rid of the pesky underlines for links */
a {
    text-decoration: none;
}
.navHeader {
    box-sizing: border-box;
    padding: 0px 8px;
}
/* This is for regex files */
.correctEntry {
    border: none;
    border-bottom: 2px solid lightgreen;
}
.incorrectEntry {
    border: none;
    border-bottom: 2px solid lightcoral;
}
/* Basic Flexbox Styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.horizontal {
    flex-direction: row;
}
.vertical {
    flex-direction: column;
}
.item {
    display: flex;
    color: white;
    text-shadow: .75px .75px 0px black, -.75px -.75px 0px black, -.75px .75px 0px black, .75px -.75px 0px black;
    margin: .5%;
    padding: .5%;
    user-select: none;
    /* border: 1px solid black; */
}
.wide {
    width:90%;
}
.full {
    width: 100vw;
}
/* Button is for submit button styling,
   Button2 is for div button styling */
.button {
    background-color: #023E8A;
    height: 2.5rem;
    border: none;
    border: 1px solid black;
    width: fit-content;
    color: white;
    font-family: "Recursive";
    font-size: 1rem;
}
.button:hover {
    background-color: #0B3669;
    cursor: pointer;
}
.button2 {
    background-color: #023E8A;
    height: fit-content;
    border: 1px solid black;
    width: fit-content;
    color: white;
    border-radius: 2px;
}
.button2:hover {
    background-color: #0B3669;
}
/* This is for the error messages */
.redText {
    color: lightcoral;
    font-weight: bold;
}
/* This is for some oddball spacing issues */
.space {
    justify-content: space-evenly
}
.nospace {
    padding: 0px;
    margin: 0px;
}
.push {
    margin: 0px 25px;
}

.chart{
    width:400px;
}
.title {
    text-align: center;
    color: #9DF;
}

#fail{
    color: #9DF;
}

#Secret {
    height: 90px;
    width: 90px;
}